html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  color: white;
  height: auto;

  a {
    color: white;
    text-decoration: none;
  }
}

body.main {
  background-image: url("../../assets/images/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.register {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/register-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding-top: 25px;
  margin-bottom: 50px;
}

main {
  flex: 1 0 auto;
}

footer {
  position: relative;
  line-height: 20px;
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 8px;
  overflow: hidden;
  a:hover {
    color: rgb(94, 94, 94);
    text-decoration: none;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  display: flex;
  transition: 0.6s all;
  background-color: transparent;
  font-weight: 300;
  text-transform: uppercase;

  #logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }

  .nav-link {
    color: white;
  }
}

nav.sticky {
  padding: 10px 120px;
  background-color: white;
  .nav-link {
    color: black;
  }
  #logo {
    color: black;
  }
}

.alert {
  z-index: 1031;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.filter {
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  background-color: rgba(255, 255, 255, 0.215);
}

.card-register {
  background-color: #ff8f5e;
  border-radius: 8px;
  color: #fff;
  max-width: 350px;
  margin: 80px 0 70px 0;
  min-height: 400px;
  padding: 30px;

  label {
    margin-top: 15px;
  }
  .card-title {
    text-align: center;
  }
  .btn {
    margin-top: 30px;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px;
  }
  a:hover {
    color: rgb(94, 94, 94);
    text-decoration: none;
  }

  .input-group-text {
    border: 1px solid white;
  }

  .register-form {
    .form-control {
      border: 1px solid transparent !important;
    }
    .input-group .form-control {
      margin-left: -1px;
    }
  }
}

.text-shadow {
  text-shadow: 1px 1px black;
}

.btn-round {
  border-radius: 30px;
}

.apple_pagination {
  background: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 1em;
  cursor: default;
}
.apple_pagination a,
.apple_pagination span {
  padding: 0.2em 0.3em;
}
.apple_pagination .disabled {
  color: #515151;
}
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #6e6e6e;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.apple_pagination a {
  text-decoration: none;
  color: white;
}
.apple_pagination a:hover,
.apple_pagination a:focus {
  text-decoration: underline;
}
