@import "bootstrap";

.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
}

.nav-link {
  color: white !important;
}

.card {
  background-color: rgba(255, 255, 255, 0.215);
}

.text-shadow {
  text-shadow: 1px 1px black;
}

a {
  color: white;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: "Fira Code", monospace !important;
  color: white;
  background-image: asset-url("bg.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.apple_pagination {
  background: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 1em;
  cursor: default;
}
.apple_pagination a,
.apple_pagination span {
  padding: 0.2em 0.3em;
}
.apple_pagination .disabled {
  color: #515151;
}
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #6e6e6e;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.apple_pagination a {
  text-decoration: none;
  color: white;
}
.apple_pagination a:hover,
.apple_pagination a:focus {
  text-decoration: underline;
}
